/* UTILITY CLASSES */

.justify-center {
    justify-content: center !important;
}

.align-center {
    align-items: center !important;
}

.text-center {
    text-align: center !important;
}

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
